:root {
  --color-accent: #6495ed;
  --color-accent-transparent: rgba(100, 149, 237, 0.1);
  --color-purple-accent: #a100e3;
  --color-teal-accent: #16d9e3;

  --transition-speed: 0.3s;
}

:root,
[data-theme="dark"] {
  --color-light-100: #f4f7f9;
  --color-light-200: #ebf0f4;
  --color-light-300: #dbe3ea;
  --color-medium-400: #c5d0dc;
  --color-medium-500: #adb9cc;
  --color-medium-600: #97a4bd;
  --color-medium-700: #8892b0;
  --color-dark-800: #6d7695;
  --color-dark-900: #5a6279;
  --color-dark-950: #4c5263;
  --color-bg-dark: #2d3139;

  --text-primary: var(--color-light-100);
  --text-secondary: var(--color-medium-500);
  --text-tertiary: var(--color-medium-700);

  --bg-primary: var(--color-bg-dark);
  --bg-secondary: var(--color-dark-950);
  --bg-tertiary: var(--color-dark-900);
  --bg-card: var(--color-dark-950);

  --border-color: var(--color-dark-800);

  --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="light"] {
  --color-light-100: #000000;
  --color-light-200: #333333;
  --color-light-300: #555555;
  --color-medium-400: #666666;
  --color-medium-500: #888888;
  --color-medium-600: #aaaaaa;
  --color-medium-700: #bbbbbb;
  --color-dark-800: #cccccc;
  --color-dark-900: #dddddd;
  --color-dark-950: #e6e6e6;
  --color-bg-dark: #f5f5f5;

  --text-primary: #000000;
  --text-secondary: #333333;
  --text-tertiary: #555555;

  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: #eeeeee;
  --bg-card: #e6e6e6;

  --border-color: #dddddd;

  --shadow-color: rgba(0, 0, 0, 0.05);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all var(--transition-speed) ease-in-out !important;
  transition-delay: 0 !important;
}
